@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC"); /*使用GOOGLE中文字體*/
@import url("/MediaWiki:Tooltips.css"); /*套用tooltips樣式*/
@import url("/MediaWiki:最大化.css"); /*最大化.js*/
/*@import url("/MediaWiki:ProfileTags.css?ctype=text/css&action=raw");/*Profile tags (old userRightsIcons)*/
/*@import url("/MediaWiki:ImageTooltip.css?ctype=text/css&action=raw");/*Some old ImageTooltip.js, not sure if it's used. Just moving from Common.js */
/*@import url("/MediaWiki:Maximization.css?ctype=text/css&action=raw"); /*Maximization.js*/
/*@import url("/MediaWiki:Calculator.css?ctype=text/css&action=raw"); /*Calculator.js*/


/***** CSS placed here will be applied to all skins on the entire site. *****/

/*Homepage Buttons effects*/
.HomeNav {
    display:inline-block;
    position:relative;
    width:112px;
    transform: skew(30deg);
    text-align:center;
    background:#D50F04;
    padding:5px;
    text-transform:uppercase;
    font-size:14px;
    margin:2px;
}
 
.HomeNav span {
    display:inline-block;
    transform: skew(-30deg);
}
 
.HomeNav span a {
    font-size:14px;
    font-weight:bold;
    font-family:'Noto+Sans+TC';
    color:white;
    text-decoration:none;
}

.HomeNav .trapzoidleft {
    position:absolute;
    top:0;
    left:-10px;
    height:100%;
    width:30px;
    background:#D50F04;
    transform: skew(-30deg);
}

.HomeNav .trapzoidright {
    position:absolute;
    top:0;
    right:-10px;
    height:100%; 
    width:30px;
    background:#D50F04;
    transform: skew(-30deg);
}

.HomeNav:hover span a {
    color:black;   
}

.HomeTile
{
    position:relative;
    height: 106px;
    width: 106px;
    background: -webkit-radial-gradient(#727272, #151515); 
    background: -o-radial-gradient(#727272, #151515); 
    background: -moz-radial-gradient(#727272, #151515); 
    background: radial-gradient(#727272, #151515); 
    z-index:0;
}
 
.HomeTilelink
{
    position:absolute;
    bottom:0;
    width:100%;
    background-color:rgba(0,0,0,0.6);
    text-align:center;
    text-transform:uppercase;
    color:white;
    text-shadow: 0 0 2px;
    font-size:12px;
    z-index:4;
}
 
.HomeTilelink a
{
    color:white;
    text-decoration: none;
}
 
.HomeTileimage,
.HomeTileimage-overlap
{
    position:absolute;
    top:0px;
    transition:0.3s;
    -webkit-transition: 0.3s; 
    -moz-transition: 0.3s; 
    -o-transition: 0.3s; 
    opacity:1;
    z-index:1;
}
 
.HomeTileimage2
{
    position:absolute;
    top:0px;
    transition:0.3s;
    -webkit-transition: 0.3s; 
    -moz-transition: 0.3s; 
    -o-transition: 0.3s; 
    opacity:0;
    z-index:2;
}
 
.HomeTile:hover .HomeTileimage
{
    opacity:0;
}
 
.HomeTile:hover .HomeTileimage2
{
    opacity:1;
}

/* Background for Template:Codex*/
.codexflower {
    background-color:#2A2A2A;
    background-image:url("https://images.wikia.nocookie.net/__cb20140827083239/warframe/images/d/df/Codexflower4.png");
    background-position: left;
    background-repeat: no-repeat;
}

/* Background for Template:Synthesis*/
.synthesissigil {
    background-color:#3B240B;
    background-image:url("https://images.wikia.nocookie.net/__cb20150410143605/warframe/images/e/ef/Synthesis_Flower.png");
    background-position: left;
    background-repeat: no-repeat;
}

/* tiles in Main:WARFRAME page */
.guidetile {
    width:100%;
}
.guidetile td {
    height:100px;
    background:#B6B8CA;
    background:rgba(182, 184, 202, 0.3);
}

/*Talk:Banning Policy vandal report ticket*/
table.vandalticket {
    background:rgba(179,196,230,0.3);
    border:1px solid white;
    width:100%;
    border-collapse: collapse;
    text-align:left;
}
 
table.vandalticket th {
    background-color:rgba(255,255,255,0.7);
    width:20%;
    padding:0px 4px;
}
 
table.vandalticket td {
    padding:0px 4px;
    border:1px solid white;
}

table.vandalticket th:nth-of-type(1){
    text-align:right;
}

/*SyndicatesNavVisual hover*/
.syndicate_container
{
  width:100%; 
  height:100px;
  text-align:center;
}

.syndicate_container .flag
{
    position:relative;
    height:95px; 
    width:60px;
    display:inline-block;
    margin:0 2px;
}

.syndicate_container .flag .text
{
    position:absolute;
    top:30px;
    text-align:center;
    width:100%;
    color:white;
    text-shadow: 0px 0px 2px black;
    opacity:0;
    transition:0.2s;
    font-size:12px;
    line-height:13px;
}

.syndicate_container .flag .text a
{
    color:white;
}

.syndicate_container .flag:hover .text
{
    opacity:1;
}

/* Void drop table nav buttons*/
.voidbutton
{
    display:inline-block;
    width:230px;
    height:30px;
    border:1px solid white;
    background:rgba(179,196,230,0.2);
    padding:5px;
    font-family:Open Sans;
}

.voidbutton:hover
{
    background:transparent;
    transition:0.1s;
}


/* Void drop table*/
table.voidtable {
    width:100%;
    text-align:left;
    border:1px solid #545658;
    border-collapse: collapse;
    background:rgba(246,246,231,0.2);
}
 
table.voidtable th {
    background-color: #303236;
    color:white;
    width:50%;
    padding:0px 4px;
    border:1px solid #C4C8CE;
}
 
table.voidtable td {
    width:50%;
    border:1px solid #C4C8CE;
    vertical-align: top;
}

/* Custom Mod table*/
.emodtable, .emodlist, .bigmodtable {
    text-align: center;
    border-collapse: collapse;
}
.bigmodtable {
    width:100%;
}
.emodtable th, .bigmodtable th {
    background-color: #2d2d2d;
    border:1px solid #a9b6ce;
    color: #f8f8f8;
    width:65px;
    padding: 2px 5px;
}
.emodtable th a, .bigmodtable th a{
    color: lightblue;
}
.emodtable td, .bigmodtable td {
    background-color: #F0ECF7;
    background-color: rgba(240,236,247,0.6);
    border:1px solid #a9b6ce;
}

/* Custom list table*/
table.listtable {
    width:100%;
    border-collapse: collapse;
    text-align:center;
}
 
table.listtable th {
    background-color: #B7B4BA;
}

table.listtable tr:nth-child(odd) td{
    background-color: #F0ECF7;
    background-color: rgba(240,236,247,0.6);
}
table.listtable tr:nth-child(even) td{
    background-color: #D6CFE1;
    background-color: rgba(214,207,225,0.6);
}

/* Custom Foundry table*/
table.foundrytable {
    text-align:center;
    max-width:calc(100% - 305px);
    border-collapse: collapse;
}

table.foundrytable th,
table.foundrytable td {
    border:1px solid #a9b6ce;
}
 
table.foundrytable th {
    background-color: #2d2d2d;
    color: #f8f8f8;
}
 
table.foundrytable td {
    background-color: #F0ECF7;
    background-color: rgba(240,236,247,0.6);
}

table.foundrytable th a{
    color:lightblue;
}


/*Custom large table*/
table.tennotable {
    width:100%;
    border-collapse: separate;
    border-spacing: 0px 5px;
    text-align:center;
}
 
table.tennotable th {
    background-color: #2d2d2d;
    color: #f8f8f8;
}
 
table.tennotable td {
    background-color: #F7F5FA;
    background-color: rgba(247,245,250,0.7);
}

table.tennotable .chevron {
    border-top-color: #fff !important;
}
table.tennotable .chevron:first-child {
    border-color: transparent transparent #fff !important;
}

/* TennoScript */
.tennoscript_S
{
    display:inline-block;
    margin:1px;
}
 
.tennoscript_C {
    display:inline-block;
    width:75px;
    margin:1px;
    transform:rotate(25deg) translateY(-25px);
    transform-origin:bottom left;
    margin-right:-16px;
}
 
.tennoscript_V {
    display:inline-block;
    width:50px;
    text-align:right;
    margin:1px;
    transform:rotate(25deg) translateX(-45px) translateY(0px);
    transform-origin:bottom right;
    margin-right:-55px;
}

.tennoscript_SPeriod {
    display:inline-block;
    margin:1px;
    margin-right:-17px
}
 
.tennoscript_EPeriod {
    display:inline-block;
    margin:1px;
    transform: translateX(34px);
    transform-origin:bottom left;
    margin-right:-17px
}
/* Tags extention */
a.tag {
	color: inherit;
}

.tag.usergroup-bureaucrat {
	background-color: gold !important;
	color: black !important;
}

.tag.usergroup-sysop {
	background-color: silver !important;
	color: black !important;
}

.tag.usergroup-featured {
	background-color: blue !important;
	color: white !important;
}

.i18ndoc {
    background-color: #FFF77D;
    border-bottom: 1px solid lightgrey;
    font-family: monospace;
    font-size: 8pt;
    height: 140px;
    overflow: auto;
    padding: 3px;
}

/* drop down menu css */
.custom-dropdown {
    padding: 1px 8px;
}
.custom-dropdown > :first-child:after {
    background-image: url("data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D");
    border-color: white transparent transparent;
    border-style: solid;
    border-width: 4px;
    content: "";
    display: inline-block;
    height: 1px;
    margin-left: 4px;
    margin-top: 2px;
    position: relative;
    vertical-align: middle;
    width: 1px;
}
.custom-dropdown:hover {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: -1px;
    padding-bottom: 2px;
}
.custom-dropdown ul {
    list-style: none outside none;
    min-width: 100%;
    top: 23px;
}
.custom-dropdown:hover ul {
    display: block;
}
.custom-dropdown li a {
    font-size: 12px;
    height: 14px;
    line-height: 14px;
}
/* end dropdown menu css */

/******************/
/** Blog title size **/
/******************/

.WikiaBlogListing h1 {
    font-size: 12px;
}

/* TabView extension */
.yui-content {
    background-color: #EDF5FF;
    /*border: solid 1px;*/
    padding: 0.25em 0.5em;
}
 
.yui-nav {
    border-color:#EDF5FF;
    border-style:solid;
    border-width:0pt 0pt 5px;
    margin: 0px !important;
}
 
 
.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
    border-color:#EDF5FF;
    border-style:solid;
    border-width:0pt 0pt 5px;
}
 
.yui-navset .yui-nav .selected {
    background-color: #EDF5FF;
}
 
.yui-navset .yui-nav li {
    padding-left: 10px;
    padding-right: 10px;
}

/* enable headers in tabber */
.tabberlive .tabbertab h2, .tabberlive .tabbertab h3 { 
    display:block !important; 
}

/* Custom Tabber style*/
 
.WikiaArticle ul.tabbernav,
.WikiaArticle .tabbertab-borderless ul.tabbernav,
.WikiaArticle .tabbertab-bordered ul.tabbernav
{
    background-color: #2c3e45;
    padding: 8px;
    border: none;
    text-align: center;
    color: #FFF;
    font-weight:normal;
    text-transform:uppercase;
}
 
.WikiaArticle ul.tabbernav li a,
.WikiaArticle .tabbertab-borderless ul.tabbernav li a,
.WikiaArticle .tabbertab-bordered ul.tabbernav li a
{
    border: none;
    background: none;
    text-decoration: none;
    color: white; 
}
 
.WikiaArticle ul.tabbernav li a:link,
.WikiaArticle .tabbertab-borderless ul.tabbernav li a:link,
.WikiaArticle .tabbertab-bordered ul.tabbernav li a:link
{
    color: white; 
}
 
.WikiaArticle ul.tabbernav li a:hover,
.WikiaArticle .tabbertab-borderless ul.tabbernav li a:hover,
.WikiaArticle .tabbertab-bordered ul.tabbernav li a:hover
{
    background-color:transparent;
}
 
.WikiaArticle ul.tabbernav li.tabberactive a,
.WikiaArticle .tabbertab-borderless ul.tabbernav li.tabberactive a,
.WikiaArticle .tabbertab-bordered ul.tabbernav li.tabberactive a
{
    border-bottom: none;
    background-color: #517783;
    padding:8px;
    color: white;
}
 
.WikiaArticle .tabberlive,
.WikiaArticle .tabbertab-borderless .tabberlive,
.WikiaArticle .tabbertab-bordered .tabberlive 
{
    width: 100%;
}
 
.WikiaArticle .tabbertab-borderless .tabberlive .tabbertab 
{
    border: none;
    padding: 0px;
}

.WikiaArticle .tabberlive .tabbertab,
.WikiaArticle .tabbertab-bordered .tabberlive .tabbertab 
{
    border: #878894 solid 1px;
}

.WikiaArticle ul.tabbernav li.tabberactive a:hover {
    border-bottom: none;
    background-color: #517783;
    padding:8px;
    color: white;
}


/* === Template:Ambox designs === */

/* Ambox design */
.ambox {
    font-size: 95%;
    width: 80%;
    padding: 25px;
    margin: 0 auto;
    border-left: 10px solid #1e90ff;
    border-collapse: collapse;
    background-color: rgba(248,248,253,0.5);
}

/* Ambox colours */
.ambox-blue {
    border-left: 10px solid #1e90ff;    /* Blue (notice) */
}
.ambox-red {
    border-left: 10px solid #ff0000;    /* Red (delete/serious) */
}
.ambox-orange {
    border-left: 10px solid #f28500;    /* Orange (content) */
}
.ambox-yellow {
    border-left: 10px solid #f4c430;    /* Yellow (style) */
}
.ambox-purple {
    border-left: 10px solid #9932cc;    /* Purple (merge) */
}
.ambox-gray {
    border-left: 10px solid #4d4d4d;    /* Gray (protection) */
}
.ambox-green {
    border-left: 10px solid #228b22;    /* Green */
}
.ambox-none {
    border-left: 0;
}
/* Ambox small text */
.ambox-smalltext {
    font-size: smaller;
    margin-top:0.5em;
    margin-left:0.8em;
}

/* Ambox image */
.ambox-image {                    /* The left image cell */
    width: 60px;
    padding: 2px 0px 2px 0.5em;        /* 0.5em left, 0px right */
    text-align: center;
}

@media print { .ambox { display: none; } }    /* no ambox when printing */

/* Brizingr5: WEAPONINFOBOX */
.Ibox_Collapsible {
    height: 0px;
    overflow: hidden;
    -moz-transition:height 0.3s;
    -webkit-transition:height 0.3s; /* Safari */
    -o-transition:height 0.3s;
}
/* END Brizingr5: WEAPONINFOBOX */

/* START Brizingr5: text rotate*/
.text_rotate-90 {
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.text_rotate-270 {
    -webkit-transform: rotate(270deg); 
    -moz-transform: rotate(270deg); 
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
/* END Brizingr5: text rotate*/

/* START Email : infobox */
.e_ibox_collapsible {
    display:none;
}
.e_ibox_collapsible>td:nth-child(2) {
    box-shadow:0 0 10px 2px #AAAAAA inset;
}
.e_ibox {
	float:right;
	width:270px;
	background:#E6E6E6;
	border:3px solid #424242;
	border-radius: 4px;
	box-shadow:3px 3px 2px;
	margin:0 0 2em 2em;
	margin-bottom: 10px;
	color:#1C1C1C;
	font-size:11px;
}
.e_ibox  th {
	background-color:#7C7C7C;
	color:#FFFFFF;
	text-align: center;
}
.e_ibox  tr>td:nth-child(1) {
	width:50%;
	background-color:#D8D8D8;
	text-align:right;
	padding:1px 5px;
}
.e_ibox  tr>td:nth-child(2) {
	width:50%;
	text-align:left;
	padding:1px 5px;
}
/* END Email : infobox */

/* toclimit code */
.toclimit-2 .toclevel-2 {display:none;}
.toclimit-3 .toclevel-3 {display:none;}
.toclimit-4 .toclevel-4 {display:none;}
.toclimit-5 .toclevel-5 {display:none;}
.toclimit-6 .toclevel-6 {display:none;}
.toclimit-7 .toclevel-7 {display:none;}

/* START Twilight053: chatbg */
/*
.Chat {
	background-size: cover;
	background-image: url("https://images.wikia.nocookie.net/__cb20150420151623/warframe/images/2/26/ChatBackground3.png");
}
.Chat .time {
    color:#3A3A3A;
}
.Chat .inline-alert {
    color:#3A3A3A;
}
.Chat ul .you {
	background: none;
}
*/
/* END Twilight053: chatbg */

/* START Twilight053: gradientpoll */
.pollAnswerVotes div {
    background: transparent linear-gradient(to right, #C7D8DF 10%, #749FB0 100%) repeat scroll 0% 0% !important;
    width: 97%;
}

.pollAnswerVotes span {
    top: -5px
}
/* END Twilight053: gradientpoll */

/* START HoverImage v2 */
.imgUnder {
    overflow: visible;
    display: inline-block;
    position: relative
}
 
.imgOver {
    display: block;
    visibility: hidden;
    width: inherit;
    height: inherit;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.imgUnder:hover .imgOver {
    visibility: visible !important;
}
/* END HoverImage v2 */

/* SeeMore "Magnifying glass" turned to black*/
.seemoreactivity-diff-link {
    color: black;
}

/* Hiding Discord widget for anons */
.user-anon #widgetcontainer {
    display: none !important;
}

/* Coloring the text in global collapse/expand buttons */
#collapse-global-hide .wikia-button, #collapse-global-show .wikia-button {
    color: white;
}

/*Main Content shadow*/
.WikiaPage {
   -moz-box-shadow: 0 0 15px #6d6d6d;
   -webkit-box-shadow: 0 0 15px #6d6d6d;
   box-shadow: 0 0 15px #6d6d6d;
}

/*Article H1 headers font*/
#WikiaUserPagesHeader h1,
#WikiaPageHeader h1 {
    font-family: 'Noto+Sans+TC';
    font-weight: 300;
}

/* Templates */
/** Navbox template **/
.navbox {
     background-color: rgba(255,255,255,0.5);
     border-radius: 0px;
     border: 1px solid #CCCCCC;
     box-shadow: none;
     margin-bottom: 10px;
     padding: 0px;
     text-align: center;
     width: 100%;
     background-image:url("https://images.wikia.nocookie.net/__cb20140911231247/warframe/images/0/08/Navboxflower6.png");
     background-position: center bottom;
     background-repeat: no-repeat;
}

.navboxhead {
     background-color: #D8D8D8;
     color: #000000;
     font-size: 14px;
     margin: 0 auto;
     padding: 2px 0;
     text-align: center;
}

.navboxhead a {
     color: #3A3A3A;
}

.navboxgroup {
     background-color: #D8D8D8;
     font-weight: bold;
     text-align: center;
     width: 15%;
}

.navboxfooter {
     background-color: #D8D8D8;
     color: #000000;
     font-size: 14px;
     margin: 0 auto;
     padding: 2px 0;
     text-align: center;
}

.navboxcell {
    background-color: #9e9e9e1a;
}

/** Navbox-flipped template **/
.navbox-flipped {
     background-color: rgba(255,255,255,0.5);
     border-radius: 0px;
     border: 1px solid #CCCCCC;
     box-shadow: none;
     margin-bottom: 10px;
     padding: 0px;
     text-align: center;
     width: 100%;
     background-image:url("https://images.wikia.nocookie.net/__cb20180119192207/warframe/images/2/2e/Lotus_Icon_edited_f.png");
     background-position: center bottom;
     background-repeat: no-repeat;
}

/*Combo Icon START*/
.CI
{
    white-space: nowrap;
    position:relative;
    top:-4px;
    color:black;
    font-family:Roboto;
    font-weight: bold;
    padding:0.06em 0.7em 0.06em 0.06em;
    font-size:10px;
}
.CI-top-proc
{
    white-space: nowrap;
    position:relative;
    top:2px;
}
.CI-top-proc1
{
    white-space: nowrap;
    position:absolute;
    top:-1.8em;
}
.CI-top-proc2
{
    white-space: nowrap;
    position:absolute;
    top:-1.8em;
    left:11px;
}
.CI-multi
{
    white-space: nowrap;
    position:absolute;
    top:24px;
    left:4px;
}
.CI-multi1
{
    white-space: nowrap;
    position:absolute;
    top:15px;
    left:4px;
}
.CI-multi2
{
    white-space:nowrap;
    position:absolute;
    top:15px;
}
/*CI END*/

/*Combo Icon 2 START*/
.CI2
{
    white-space: nowrap;
    position:relative;
    top:-4px;
    color:black;
    font-family:Roboto;
    font-weight: bold;
    font-size:10px;
}
.CI2-top-proc
{
    white-space: nowrap;
    position:relative;
    top:2px;
}
.CI2-top-proc1
{
    white-space: nowrap;
    position:absolute;
    top:-1.8em; 
}
.CI2-top-proc2
{
    white-space: nowrap;
    position:absolute;
    top:-1.8em; 
}
.CI2-multi
{
    white-space: nowrap;
    position:absolute;
    top:24px;
}
.CI2-multi1
{
    white-space: nowrap;
    position:absolute;
    top:15px;
    left:4px;
}
.CI2-multi2
{
    white-space:nowrap;
    position: absolute;
    top:15px;
}
.CI2-multi3
{
    white-space:nowrap;
    position:absolute;
    top:33px;
}
.CI2-multi4
{
    white-space:nowrap;
    position:absolute;
    top:42px;
}
/*CI2 END*/

/** Infobox template **/
.ibox,
.infobox {
     background-color: #d4d4d4;
     border: 1px solid #CCCCCC;
     color: #1C1C1C;
     float: right;
     font-size: 11px;
     margin: 0px 0px 10px 2em;
     width: 270px;
}
.ibox .name,
.infobox .name {
     background: none repeat scroll 0% 0% #3A3A3A;
     color: #eeeeee;
     font-size: 16px;
     padding: 1em;
     text-align: center;
}
.ibox .image,
.infobox .image {
     height: 200px;
     padding: 0.5em;
     text-align: center;
}
.ibox .category,
.infobox .category {
     background: none repeat scroll 0% 0% #3A3A3A;
     color: #eeeeee;
}
.ibox .category a,
.infobox .category a {
     color:#afd8ff;
}
.ibox .left,
.infobox .left {
     font-weight:700;
     background: none repeat scroll 0% 0% #3A3A3A;
     color: #eeeeee;
     text-align: right;
     padding-right: 5px;
}
.ibox .left a,
.infobox .left a {
     font-weight:700;
     color:#afd8ff;
}
.ibox .right,
.infobox .right {
     padding: 1px 5px;
     text-align: left;
     width: 60%;
}

/** Infobox horizontal**/
.ibox-hori {
     background-color: #d4d4d4;
     border: 1px solid #CCCCCC;
     color: #1C1C1C;
     float: left;
     font-size: 11px;
     margin: 0px 0px 10px 2em;
     width: 660px;
}
 
.ibox-hori .name {
     background: none repeat scroll 0% 0% #3A3A3A;
     color: #eeeeee;
     font-size: 16px;
     padding: 3px;
     text-align: center;
}
 
.ibox-hori .image {
     height: 200px;
     padding: 0.5em;
     text-align: center;
}
 
.ibox-hori .category {
     background: none repeat scroll 0% 0% #3A3A3A;
     color: #eeeeee;
}
 
.ibox-hori .category a {
     color:#afd8ff;
}
 
.ibox-hori .left {
     background: none repeat scroll 0% 0% #3A3A3A;
     color: #eeeeee;
     text-align: right;
     padding-right: 5px;
}
 
.ibox-hori .left a {
     color:#afd8ff;
}
 
.ibox-hori .right {
     padding: 1px 5px;
     text-align: left;
     width: 110px;
}

/***** Portable Infobox - styles of old class names ******/
/***** (to be removed ones new class names are released) *****/

.portable-infobox {
    background-color: #d4d4d4;
    border: 1px solid #CCCCCC;
    color: #1C1C1C;
    font-size: 11px;
    width: 268px;
    padding: 0px 0px 5px 0px;
}

.portable-infobox .item-type-key-val {
    box-sizing: border-box;
    display:table;
    width: 100%;
}

/* Limiting the width of the image in ModBox portable infobox to 250px */
.pi-theme-ModBox .pi-image-thumbnail {
    max-width: 250px;
    height: auto;
}

.portable-infobox .portable-infobox-item-label,
.portable-infobox .portable-infobox-item-value {
    display: table-cell !important; /* needed for proper handling of tabber */
    padding-left: 7px;
    font-size: 11px;
}

.portable-infobox .portable-infobox-item-value {
    padding-top: 2px;
}

.tabberlive .tabbertab .portable-infobox h3.portable-infobox-item-label {
    display: table-cell !important; /* needed for proper handling of tabber */
}

.portable-infobox .portable-infobox-item-label {
    padding-left: 10px;
    width: 89px;
    background: none repeat scroll 0% 0% #3A3A3A;
    color: #eeeeee;
    text-align: right;
    padding-right: 5px;
    vertical-align: middle;
}

.portable-infobox .portable-infobox-item-label a {
    color: #afd8ff;
}

.portable-infobox .item-type-key-val:not(:last-of-type) {
    border-bottom: 0px;
}

/** Styling section headers **/

.portable-infobox .item-type-header .portable-infobox-secondary-font {
    font-size: 11px;
    padding: 2px;
    color: #eeeeee;
}

.portable-infobox .portable-infobox-item-margins {
    padding: 2px 4px 0px 4px;
    min-height: 26px;
}

.portable-infobox .item-type-header {
    background-color: #3A3A3A;
    margin: 2px 4px 0px 4px;
    height: 24px;
    text-align: center;
    min-height: 0px;
}

.portable-infobox .item-type-title {
    background-color: #3A3A3A;
    color: #eeeeee;
    font-size: 16px;
    padding: 1em;
    text-align: center;
    margin: 4px;
}

/***** Portable Infobox - styles for new class names *****/
/***** (changes to be announced soon) *****/

.portable-infobox {
    background-color: #d4d4d4;
    border: 1px solid #CCCCCC;
    color: #1C1C1C;
    font-size: 11px;
    width: 268px;
    padding: 0px 0px 5px 0px;
}

.portable-infobox .pi-data {
    box-sizing: border-box;
    display:table;
    width: 100%;
}

.portable-infobox .pi-data-label,
.portable-infobox .pi-data-value {
    display: table-cell !important; /* needed for proper handling of tabber */
    padding-left: 7px;
    font-size: 11px;
    vertical-align: middle;
}

.portable-infobox .pi-data-value {
    padding-top: 2px;
}

.tabberlive .tabbertab .portable-infobox h3.pi-data-label {
    display: table-cell !important; /* needed for proper handling of tabber */
}

.portable-infobox .pi-data-label {
    padding-left: 9px;
    width: 90px;
    background: none repeat scroll 0% 0% #3A3A3A;
    color: #eeeeee;
    text-align: right;
    padding-right: 5px;
    vertical-align: middle;
}

.pi-theme-ModBox .pi-data-label  {
    width: 88px;
}

.portable-infobox .pi-data-label a {
    color: #afd8ff;
}

.portable-infobox .pi-item:not(:last-of-type) {
    border-bottom: 0px;
}

/** Styling Syndicates themes **/
.pi-theme-steel .pi-image {
    background-color:#2C3F46;
}
.pi-theme-hexis .pi-image {
    background-color:#374045;
}
.pi-theme-suda .pi-image {
    background-color:#3D375D;
}
.pi-theme-perrin .pi-image {
    background-color:#3D4963;
}
.pi-theme-redveil .pi-image {
    background-color:#3D1839;
}
.pi-theme-loka .pi-image {
    background-color:#2A3C2E;
}
.pi-theme-conclave .pi-image {
    background-color:black;
}
.pi-theme-simaris .pi-image {
    background-color:#5F3C0D;
}
.pi-theme-ostron .pi-image {
    background-color:#B74624;
}
.pi-theme-quills .pi-image {
    background-color:#F7FACB;
}

/** Styling section headers **/

.portable-infobox .pi-header.pi-secondary-font {
    font-size: 11px;
    padding: 2px;
    color: #eeeeee;
}

.portable-infobox .pi-item-spacing {
    padding: 2px 4px 0px 4px;
    min-height: 26px;
}

.portable-infobox .pi-header {
    background-color: #3A3A3A;
    margin: 2px 4px 0px 4px;
    text-align: center;
    min-height: 0px;
}

.portable-infobox .pi-title {
    background-color: #3A3A3A;
    color: #eeeeee;
    font-size: 16px;
    padding: 1em;
    text-align: center;
    margin: 4px;
}

/** Styling image tabbers **/

.portable-infobox .pi-image-collection-tabs li {
    background: transparent;
    border: 1px solid transparent;
}
.pi-image-collection-tab-content {
    background-color:transparent;
}
ul.pi-image-collection-tabs {
    font-family:Roboto;
    font-weight:300;
    font-size:15px;
}

ul.pi-image-collection-tabs li.current {
    font-weight:300;
    color:#3366FF;
    background:transparent;
}

/* Main page */
/** General **/
.mainpage-header {
    position:relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: black;
    padding-top: 14px;
    padding-left: 22px;
    height: 54px;
    width: 97.5%;
    width: -moz-calc(100% - 35px);
    width: -webkit-calc(100% - 35px);
    width: -o-calc(100% - 35px);
    width: calc(100% - 35px);
    margin-bottom: 5px;
    margin-top: 19px;
    font-size:25px;
    color:white;
    font-family:'Noto+Sans+TC';
    font-weight:900;
}

.mainpage-header-right {
    position:absolute;
    top:0px;
    right:-20px;
    height:100%; 
    width:50px;
    background:black;
    transform: skew(30deg);
}

.mainpage-header-sub {
    font-size:25px;
    color:#D50F04;
    font-family:'Noto+Sans+TC';
    font-weight:900;
}

.mainpage-header-news {
    margin-bottom: 10px;
    font-size:25px;
    color:#D50F04;
    font-family:'Noto+Sans+TC';
    font-weight:900;
}

/** Content box **/
.mainpage-box-content {
    margin-top: -3px;
}

.mainpage-box-content .buttons {
    text-align: center;
}

.mainpage-box-content .buttons-top {
    margin-bottom: 15px;
}

.mainpage-box-content .buttons-bottom {
    margin-top: 11px;
}

.mainpage-box-content .button-item {
    display: inline-block;
}

.mainpage-box-content .content {
    margin: 0px auto;
    text-align: center;
    width: 670px;
}

.mainpage-box-content .content-item {
    display: inline-block;
    margin-bottom: 4px;
}

/** Featured Videos box **/
.mainpage-box-featuredvideos {
}

/** Blogs box **/
.mainpage-box-blogs {
    margin-bottom: 10px;
}

.mainpage-box-blogs .wikia-button, .mainpage-box-blogs .more {
    display: none;
}

.mainpage-box-blogs .WikiaBlogListing .WikiaBlogListingPost .author-details h2 {
    font-size:1.1em;
    line-height:16px
}

.mainpage-box-blogs .recent {
    float: left;
    margin-top: 7px;
    width: 50%;
}

.mainpage-box-blogs .popular {
    float: right;
    margin-top: 7px;
    width: 48%;
    width: -moz-calc(50% - 10px);
    width: -webkit-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
}

.mainpage-box-blogs .administration {
    float: right;
    margin-bottom: 10px;
    margin-top: 12px;
    width: 48%;
    width: -moz-calc(50% - 10px);
    width: -webkit-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
}

.mainpage-box-blogs .WikiaBlogListing {
    border: 1px solid #c8ced0;
    margin-top: 9px;
    background: rgba(255,255,255,0.5);
}

.mainpage-box-blogs .WikiaBlogListing .WikiaBlogListingPost {
    border-bottom: 1px solid #749fb0;
    padding: 15px;
}

.mainpage-box-blogs .WikiaBlogListingPost:last-child {
  border: medium none;
}

.mainpage-box-blogs .author-details h1 {
    font-size: 15px;
}

/** Play Free box **/
.mainpage-box-playfree {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -user-select: none;
    cursor: pointer;
    background:#D40001;
    display: block;
    transform: skew(30deg);
    width: 260px;
    margin: 0 auto 15px;
    padding:10px 0px;
    text-align: center;
}

.mainpage-box-playfree a{
    vertical-align:middle;
    font-family:'Noto+Sans+TC';
    font-weight: 900;
    font-size: 30px;
    color: #FFFFFF;
}

.mainpage-box-playfree:hover {
    background:#e53b3c;
}

/** Social Media box **/
.mainpage-box-socialmedia {
    text-align: center;
    margin-bottom: 15px;
}

.mainpage-box-socialmedia .social-container {
    margin-left: -12px;
}

.mainpage-box-socialmedia .social {
    display: inline-block;
    margin-left: 12px;
}

.languagemenu ul {	
	position:relative;
        padding:0px 5px;
	margin:0;
        list-style:none;
        white-space: nowrap;
        font-family:'Noto+Sans+TC';
        font-size:12px;
}

.languagemenu ul a {
        color:black;
}

.languagemenu ul ul {
	display: none;
	position: absolute;
	background-color:white;
	background-color:rgba(255,255,255,0.9);
        margin-left:-5px;
        text-align:left;
}

.languagemenu ul li:hover > ul {
	display:list-item;
        z-index:5;
}



/** News box **/
.mainpage-box-news {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0px 4px 10px;
    border: 1px solid #c8ced0;
    width: 100%;
    margin-bottom: 17px;
    background: rgba(255,255,255,0.5);
}

.mainpage-box-news .news {
    margin-bottom: 1px;
    margin-top: -7px;
}

.mainpage-box-news .icon {
    float: left;
    margin-right: 15px;
    margin-top: -3px;
}

/** Alerts box **/
.mainpage-box-alerts {
    margin-bottom: 11px;
    margin-top: 9px;
    text-align: center;
}

/** Featured Poll box **/
.mainpage-box-featuredpoll {
    margin-bottom: 17px;
    margin-top: -5px;
    background: rgba(255,255,255,0.5);
}

.mainpage-box-featuredpoll .ajax-poll {
    border: 1px solid #c8ced0;
    padding-right: 30px;
}

.mainpage-box-featuredpoll .ajax-poll form {
    margin-bottom: -20px;
}

@media (max-width: 1023px) {
    .mainpage-box-featuredpoll .ajax-poll form {
        margin-bottom: 0px;
    }
}

.mainpage-box-featuredpoll .ajax-poll .pollAnswerVotes div {
    background: #749fb0;
}

/** Forum Activity box **/
#ForumActivityModule h2
{
    display: none;
}

#ForumActivityModule
{
    margin: 0 auto 0;
}

.mainpage-box-forumactivity {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:300px;
    margin-bottom: 17px;
    margin-top: 9px;
    border: 1px solid #c8ced0;
    padding: 10px;
    background: rgba(255,255,255,0.5);
}

/** Recent Activity box **/
.mainpage-box-recentactivity {
    margin-bottom: 17px;
    margin-top: 9px;
    border: 1px solid #c8ced0;
    padding: 10px;
    background: rgba(255,255,255,0.5);
}

/*Remove contributor from Maps*/
figure.wikia-interactive-map-thumbnail figcaption span {
    display:none;
}

/*Make all h3 headers bold*/
.WikiaArticle h3 .mw-headline {
    font-weight:bold;
}

/* Mark redirects in Special:Allpages and Special:Watchlist */
.allpagesredirect {
   font-style: italic;
}
.allpagesredirect:after {
   color: #808080; content: " (redirect)"
}
.watchlistredir {
   font-style: italic;
}

/* Giving headers and TOC a little extra space */
h2 {
   margin-top: 10px;
}
.toc {
   margin-top: 10px;
}

/* Forum formatting (by -Algorithm & -Splaka) */
.forumheader {
   border: 1px solid #aaa;
   margin-top: 1em;
   padding: 12px;
}
.forumlist td.forum_edited a {
   color: black;
   text-decoration: none;
}
.forumlist td.forum_title a {
   padding-left: 20px;
}
.forumlist td.forum_title a.forum_new {
   font-weight: bold;
   background: url(/images/4/4e/Forum_new.gif) center left no-repeat;
   padding-left: 20px;
}
.forumlist td.forum_title a.forum_new:visited {
   font-weight: normal;
   background: none;
   padding-left: 20px;
}
.forumlist th.forum_title {
   padding-left: 20px;
}

/* Recent changes byte indicators */
.mw-plusminus-pos {
   color: #006500;
}
.mw-plusminus-neg {
   color: #8B0000;
}

/* Image frame fix */
div.tright, div.tleft {
   border: 1px solid silver;
}

div.thumbinner {
   background: inherit;
   border: none;
   color: inherit;
}
#article div.thumb {
   color:inherit;
}

/* === Babel === */

div.babelbox {
   float: right;
   margin-left: 1em;
   margin-bottom: 0.5em;
   width: 246px;
   border: 1px solid #99B3FF;
   padding: 2px 0 2px 0;
}
.lang-blockN, .lang-block0, .lang-block1, .lang-block2, .lang-block3 {
   margin: 2px 4px 2px 4px; /* t, l, b, r */
   width:238px;
   border-collapse: collapse;
}
td.lang-codeN, td.lang-code0, td.lang-code1, td.lang-code2, td.lang-code3 {
   text-align:center;
   font-size:14pt;
   width:45px;
   height:45px;
}
td.lang-descriptionN, td.lang-description0, td.lang-description1,
td.lang-description2, td.lang-description3 {
  font-size:8pt;
  padding:4pt;
  line-height:1.25em;
}

.lang-block0 {
   border:1px solid #FFB3B3;
}
td.lang-code0 {
  background-color: #FFB3B3;
  color: black;
}
td.lang-description0 {
  background-color: #FFE0E8;
  color: black;
}

.lang-block1,  .lang-block2, .lang-block3  {
   border:1px solid #99B3FF;
}
td.lang-code1, td.lang-code2, td.lang-code3 {
  background-color: #99B3FF;
  color: black;
}
td.lang-description1,  td.lang-description2, td.lang-description3 {
  background-color: #E0E8FF;
  color: black;
}

.lang-blockN {
   border:1px solid #6EF7A7;
}
td.lang-codeN {
  background-color: #6EF7A7;
  color: black;
}
td.lang-descriptionN {
  background-color: #C5FCDC;
  color: black;
}
/* TabView extension */
.yui-content {
background-color: #EDF5FF;
/*border: solid 1px;*/
padding: 0.25em 0.5em;
}
 
.yui-nav {
border-color:#EDF5FF;
border-style:solid;
border-width:0pt 0pt 5px;
margin: 0px !important;
}
 
 
.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
border-color:#EDF5FF;
border-style:solid;
border-width:0pt 0pt 5px;
}
 
.yui-navset .yui-nav .selected {
background-color: #EDF5FF;
}
 
.yui-navset .yui-nav li {
padding-left: 10px;
padding-right: 10px;
}
 
/*Tabber*/
.tabberlive .tabbertab h2, .tabberlive .tabbertab h3 { 
display:block !important; 
}

.htt .tooltip-content .tooltip-hide, .hidden { display:none; }

.tooltip-ready {
visibility:hidden;
display:block;
z-index:999;
}

/*White space fix (http://community.wikia.com/wiki/Forum:Annoying_margin_before_indent-via-colon)*/
.WikiaArticle dt { font-size: 14px; }
.WikiaArticle dl { margin: 0; }
dd > dl { margin-top: 5px !important; }
p + ul { margin-top: -5px !important; }

/* Hover Box for switching the visibility of the selected item */
.hoverbox { display:inline-block; padding:0em; }
.hoverbox .hoveritem { display:none; margin:0em; padding:0em; }
.hoverbox .hoveritem.selected { display:inline-block; }
.hoverbox:hover .hoveritem { display:inline-block; }
.hoverbox:hover .hoveritem.selected { display:none; }
/* Second set with display:block when shown */
.hoverbox .hoveritem2 { display:none; margin:0em; padding:0em; }
.hoverbox .hoveritem2.selected { display:block; }
.hoverbox:hover .hoveritem2 { display:block; }
.hoverbox:hover .hoveritem2.selected { display:none; }


/* Special TOC Styling -animanga.wikia.com/wiki/User:Dantman */
.toc-horiz #toc, .toc-horiz #toc ul { width: 100%; }
.toc-horiz #toc li { display: inline; margin-right: 10px; }
.toc-clear #toc td { background: transparent !important; border: 0px; }
.toc-clear #toc { background: transparent; border: 0px; }

[src="https://vignette3.wikia.nocookie.net/warframe/images/1/18/Yup.gif"] {
    display: none;
}

/*Warframe Nav Box START*/
.WarframeNavBox
{
    position: relative;
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 2px;
    height: 65px;
    width: 64px;
    z-index: 0;
}
.WarframeNavBoxText
{
    position:absolute;
    z-index: 3;
    left: 0;
    bottom: 0;
    font-size: 11px;
    background: rgba(0,0,0,0.6);
    padding: 0 2px;
    line-height: 15px;
}
.WarframeNavBoxImage
{
    position: absolute;
    top: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    opacity: 1;
    z-index: 1;
}
.WarframeNavBox:hover .WarframeNavBoxImage
{
    opacity: 0;
}
 
    /*Fade START*/
.WarframeNavBoxImage2
{
    position: absolute;
    top: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    opacity: 0;
    z-index: 2;
}
.WarframeNavBox:hover .WarframeNavBoxImage2
{
    opacity: 1;
}

/* Blogs START Blogs START Blogs START Blogs START Blogs START Blogs START*/ 
.recent {
 width:49.25% !important;
 height:100% 
}
.popular {
 width:49.25% !important;
 height:100%;
 float:right
}
.WikiaBlogListingPost {
 height:100px;
 padding: 5% 0% 3% 3% !important
}
.administration {
 width:100% !important; 
}
.administration .mainpage-header-sub {
 text-align:center 
}
#insideAdministrationLeft {
 float:left;
 width:49.25%
}
#insideAdministrationRight {
 float:right;
 width:49.25%
}
/* Blogs END Blogs END Blogs END Blogs END Blogs END Blogs END Blogs END */

/*Anon comments color*/
.comments .speech-bubble-message .edited-by a[href^="/wiki/Special:Contributions/"]
{
    color:#506983;
}

/* Admin Comment Highlighting - Background */
.comments li[data-user="Tnargraef"] blockquote,
.comments li[data-user="Juper0"] blockquote,
.comments li[data-user="Imargam"] blockquote,
.comments li[data-user="Raigir"] blockquote,
.comments li[data-user="Flaicher"] blockquote,
.comments li[data-user="Noctuaa"] blockquote,
.comments li[data-user="ChickenBar"] blockquote,
.comments li[data-user="Emailformygames"] blockquote,
.comments li[data-user="Twilight053"] blockquote,
.comments li[data-user="Brizingr5"] blockquote,
.comments li[data-user="Darthmufin"] blockquote,
.comments li[data-user="Voqualin"] blockquote,
.comments li[data-user="Rebulast"] blockquote,
.comments li[data-user="SonyaUliana"] blockquote,
.comments li[data-user="USouLz"] blockquote,
.comments li[data-user="6079Smith"] blockquote,
.comments li[data-user="ArcticEngie"] blockquote,
.comments li[data-user="DE_Glen"] blockquote,
.comments li[data-user="DEDrew"] blockquote,
.comments li[data-user="MrDESC"] blockquote
{
	background:#d2f0f4 !important;
}
 
/* Admin Comment Highlighting - Pointer */
.comments li[data-user="Tnargraef"] blockquote:after,
.comments li[data-user="Juper0"] blockquote:after,
.comments li[data-user="Imargam"] blockquote:after,
.comments li[data-user="Raigir"] blockquote:after,
.comments li[data-user="Flaicher"] blockquote:after,
.comments li[data-user="Noctuaa"] blockquote:after,
.comments li[data-user="ChickenBar"] blockquote:after,
.comments li[data-user="Emailformygames"] blockquote:after,
.comments li[data-user="Twilight053"] blockquote:after,
.comments li[data-user="Brizingr5"] blockquote:after,
.comments li[data-user="Darthmufin"] blockquote:after,
.comments li[data-user="Voqualin"] blockquote:after,
.comments li[data-user="Rebulast"] blockquote:after,
.comments li[data-user="SonyaUliana"] blockquote:after,
.comments li[data-user="USouLz"] blockquote:after,
.comments li[data-user="6079Smith"] blockquote:after,
.comments li[data-user="ArcticEngie"] blockquote:after,
.comments li[data-user="DE_Glen"] blockquote:after,
.comments li[data-user="DEDrew"] blockquote:after,
.comments li[data-user="MrDESC"] blockquote:after
{
	border-color:transparent #d2f0f4 #d2f0f4 transparent !important;
}
 
/* Admin Comment Highlighting - ?? */
.comments li[data-user="Tnargraef"] blockquote div,
.comments li[data-user="Juper0"] blockquote div,
.comments li[data-user="Imargam"] blockquote div,
.comments li[data-user="Raigir"] blockquote div,
.comments li[data-user="Flaicher"] blockquote div,
.comments li[data-user="Noctuaa"] blockquote div,
.comments li[data-user="ChickenBar"] blockquote div,
.comments li[data-user="Emailformygames"] blockquote div,
.comments li[data-user="Twilight053"] blockquote div,
.comments li[data-user="Brizingr5"] blockquote div,
.comments li[data-user="Darthmufin"] blockquote div,
.comments li[data-user="Voqualin"] blockquote div,
.comments li[data-user="Rebulast"] blockquote div,
.comments li[data-user="SonyaUliana"] blockquote div,
.comments li[data-user="USouLz"] blockquote div,
.comments li[data-user="6079Smith"] blockquote div,
.comments li[data-user="ArcticEngie"] blockquote div,
.comments li[data-user="DE_Glen"] blockquote div,
.comments li[data-user="DEDrew"] blockquote div,
.comments li[data-user="MrDESC"] blockquote div
{
	background:transparent !important;
}
 
/* Admin Comment Highlighting - Tag */
.comments li[data-user="Tnargraef"] .edited-by:after,
.comments li[data-user="Juper0"] .edited-by:after,
.comments li[data-user="Imargam"] .edited-by:after,
.comments li[data-user="Raigir"] .edited-by:after,
.comments li[data-user="Flaicher"] .edited-by:after,
.comments li[data-user="Noctuaa"] .edited-by:after,
.comments li[data-user="ChickenBar"] .edited-by:after,
.comments li[data-user="Emailformygames"] .edited-by:after,
.comments li[data-user="Twilight053"] .edited-by:after,
.comments li[data-user="Brizingr5"] .edited-by:after,
.comments li[data-user="Darthmufin"] .edited-by:after,
.comments li[data-user="Voqualin"] .edited-by:after,
.comments li[data-user="Rebulast"] .edited-by:after,
.comments li[data-user="SonyaUliana"] .edited-by:after,
.comments li[data-user="USouLz"] .edited-by:after,
.comments li[data-user="6079Smith"] .edited-by:after,
.comments li[data-user="ArcticEngie"] .edited-by:after,
.comments li[data-user="DE_Glen"] .edited-by:after,
.comments li[data-user="DEDrew"] .edited-by:after,
.comments li[data-user="MrDESC"] .edited-by:after
{ 
    content: "Administrator"; color: #FFF; background-color: #333; border-radius: 6px; padding: 0 5px; margin-left: 3px; 
}
 
/*Moderator comment highlighting*/
.comments li[data-user="Blizt1998"] blockquote,
.comments li[data-user="Gat235"] blockquote,
.comments li[data-user="Hilycker"] blockquote,
.comments li[data-user="Jeloxale"] blockquote,
.comments li[data-user="Kselia"] blockquote,
.comments li[data-user="Misdirected"] blockquote,
.comments li[data-user="Protonus"] blockquote,
.comments li[data-user="Starfreak911"] blockquote,
.comments li[data-user="Grunni"] blockquote,
.comments li[data-user="94Connor949"] blockquote,
.comments li[data-user="DaExile"] blockquote,
.comments li[data-user="Doudich"] blockquote,
.comments li[data-user="Hennils"] blockquote,
.comments li[data-user="NoLngrRomng1"] blockquote,
.comments li[data-user="Somedude1000"] blockquote,
.comments li[data-user="TunaInABottle"] blockquote
{
	background:#c5eec5 !important;
}
.comments li[data-user="Blizt1998"] blockquote:after,
.comments li[data-user="Gat235"] blockquote:after,
.comments li[data-user="Hilycker"] blockquote:after,
.comments li[data-user="Jeloxale"] blockquote:after,
.comments li[data-user="Kselia"] blockquote:after,
.comments li[data-user="Misdirected"] blockquote:after,
.comments li[data-user="Protonus"] blockquote:after,
.comments li[data-user="Starfreak911"] blockquote:after,
.comments li[data-user="Grunni"] blockquote:after,
.comments li[data-user="94Connor949"] blockquote:after,
.comments li[data-user="DaExile"] blockquote:after,
.comments li[data-user="Doudich"] blockquote:after,
.comments li[data-user="Hennils"] blockquote:after,
.comments li[data-user="NoLngrRomng1"] blockquote:after,
.comments li[data-user="Somedude1000"] blockquote:after,
.comments li[data-user="TunaInABottle"] blockquote:after
{
	border-color:transparent #c5eec5 #c5eec5 transparent !important;
}
.comments li[data-user="Blizt1998"] blockquote div,
.comments li[data-user="Gat235"] blockquote div,
.comments li[data-user="Hilycker"] blockquote div,
.comments li[data-user="Jeloxale"] blockquote div,
.comments li[data-user="Kselia"] blockquote div,
.comments li[data-user="Misdirected"] blockquote div,
.comments li[data-user="Protonus"] blockquote div,
.comments li[data-user="Starfreak911"] blockquote div,
.comments li[data-user="Grunni"] blockquote div,
.comments li[data-user="94Connor949"] blockquote div,
.comments li[data-user="DaExile"] blockquote div,
.comments li[data-user="Doudich"] blockquote div,
.comments li[data-user="Hennils"] blockquote div,
.comments li[data-user="NoLngrRomng1"] blockquote div,
.comments li[data-user="Somedude1000"] blockquote div,
.comments li[data-user="TunaInABottle"] blockquote div
{
	background:transparent !important;
}
.comments li[data-user="Blizt1998"] .edited-by:after,
.comments li[data-user="Gat235"] .edited-by:after,
.comments li[data-user="Hilycker"] .edited-by:after,
.comments li[data-user="Jeloxale"] .edited-by:after,
.comments li[data-user="Kselia"] .edited-by:after,
.comments li[data-user="Misdirected"] .edited-by:after,
.comments li[data-user="Protonus"] .edited-by:after,
.comments li[data-user="Starfreak911"] .edited-by:after,
.comments li[data-user="Grunni"] .edited-by:after,
.comments li[data-user="94Connor949"] .edited-by:after,
.comments li[data-user="DaExile"] .edited-by:after,
.comments li[data-user="Doudich"] .edited-by:after,
.comments li[data-user="Hennils"] .edited-by:after,
.comments li[data-user="NoLngrRomng1"] .edited-by:after,
.comments li[data-user="Somedude1000"] .edited-by:after,
.comments li[data-user="TunaInABottle"] .edited-by:after
{ 
    content: "Moderator"; color: #FFF; background-color: #333; border-radius: 6px; padding: 0 5px; margin-left: 3px; 
}

/* New T:Ability Stuff START*/
    /* Button-c START */
.button-c {
    cursor: pointer;
    width: 100%;
    height: 32px;
    background-color: #2a2a31;
    text-align: center;
    padding: 0;
    border: none;
}
.button-c:hover {
    background: linear-gradient(#2b2a32, #212028);
}
    /* Button-c END */
 
 
    /* Rotate-c START */
.rotate2-c {
    padding: 5px 0 7px 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
 
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.rotate-c {
    padding: 5px 0 7px 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
 
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
    /* Rotate-c END */
 
 
    /* Ability tabbers START */
.tabber-dark,
.tabber-light {
    border: none;
    padding: 0;
}
 
.tabber-dark ul.tabbernav,
.tabber-light ul.tabbernav {
    background-color: #2a2a31;
    border: none;
    text-align: center;
    color: white;
    font-family: "Roboto";
    font-weight: normal;
    text-transform: uppercase;
}
.tabber-light ul.tabbernav {
    background-color: #bcbcc5 !important;
    color: #2a2a31 !important;
}
 
.tabber-dark ul.tabbernav li a,
.tabber-light ul.tabbernav li a {
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}
.tabber-light ul.tabbernav li a {
    color: #2a2a31 !important;
}
 
.tabber-dark ul.tabbernav li a:visited,
.tabber-light ul.tabbernav li a:visited {
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}
.tabber-light ul.tabbernav li a:visited {
    color: #2a2a31 !important;
}
 
.tabber-dark ul.tabbernav li a:hover,
.tabber-light ul.tabbernav li a:hover {
    padding-top: 8px;
    padding-bottom: 6px;
    border-bottom: #bcbcc5 solid 2px;
}
.tabber-light ul.tabbernav li a:hover {
    border-bottom: #2a2a31 solid 2px !important;
}
 
.tabber-dark ul.tabbernav li.tabberactive a,
.tabber-light ul.tabbernav li.tabberactive a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: none;
    color: #2a2a31;
    background-color: #bcbcc5;
}
.tabber-light ul.tabbernav li.tabberactive a {
    color: white !important;
    background-color: #2a2a31 !important;
}
 
.tabber-dark ul.tabbernav li.tabberactive a:hover,
.tabber-light ul.tabbernav li.tabberactive a:hover {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: none;
    color: #2a2a31;
    background-color: #bcbcc5;
}
.tabber-light ul.tabbernav li.tabberactive a:hover {
    color: white !important;
    background-color: #2a2a31 !important;
}
 
.tabber-dark .tabberlive,
.tabber-light .tabberlive {
    width: 100%;
}
 
.tabber-dark .tabberlive .tabbertab,
.tabber-light .tabberlive .tabbertab {
    border: none;
    padding: 0 7px;
}
    /* Ability tabbers END */
/* New T:Ability Stuff END*/

